{% extends "base.html" %}
{% load account_extras %}
{% block head_js %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2017:2018",
      // You can put more options here.

    });
  });
  </script>
{% endblock %}

{% block content %}
<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Create Appointment - {% get_full_name user %} and Family</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
<div class="container">
<div class="row">
<div class="col-md-12">
    <p>Create an appointment for {{ user.email }}: </p>
    <hr>
    <!-- create appointment form -->
    <form role="form" method="post" id="appointment-form" action="{% url 'create_appointment' %}">
    {% csrf_token %}
    {{ form }}
    <hr>
    <div class="form-group">
      <input class="btn btn-primary" name="commit" type="submit" value="Submit">
    </div>
  </form>
    <br>
    <br>
    <br>
    <br>
</div><!--end col-md-12-->
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

{% endblock %}