{% extends "blog/blogbase.html" %}

{% block blogcontent %}


<div class="col-md-9">

<div class="row">

{% for post in posts %}
<article class="col-md-12 blog-post">
<div class="news-info">{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }}</div>
<div class="gal-img">
<a href="#"><img class="img-responsive" src="/media/{{ post.image}}" alt=""/></a>
</div><!--end gal-img-->
<div>
<h2 class="title-blog-post"><a href="#">{{ post.title }}</a></h2>
<p>{{ post.content|truncatewords:57 }}</p>
</div>
<div class="read-more"><a href={{ post.id }}>Read More</a></div>
</article><!--col-md-12-->

{% endfor %}




</div><!--end row-->
<!--
	<div class="prev-next">
	<span class="pages">Page 1 of 3: </span> <span class='page-numbers current'>1</span> <a class='page-numbers' href='#' title='Page 2'>2</a> <a class='page-numbers' href='#' title='Page 3'>3</a>
    </div>
-->
</div><!--end col-md-9-->

{% endblock %}