{% extends "blog/blogbase.html" %}
{% load staticfiles %}
{% block blogcontent %}


<article class="col-md-9 blog-post-single">
{% if post.image %}
    <div class="gal-img">
    <img class="img-responsive" src="/media/{{ post.image}}" alt=""/>
    </div><!--end gal-img-->
{% endif %}
<div class="news-info">{{ post.published_date }} | Views {{ post.views }} <a href="#">{{ post.tag }}</a></div>
<div class="content">
<h2 class="title-blog-post">{{ post.title }}</h2>

<p>{{ post.content|linebreaks }}</p>

{% load disqus_tags %}
{% set_disqus_title post.title %}
{% disqus_show_comments %}

</div><!--end content-->
</article><!--col-md-9-->


{% endblock %}

