{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="wrap">

   <div class="flexslider-top">
  <ul class="slides">
      <li>
      <a href="#"><img src="{% static "images/home/slider-1.jpg" %}" alt="" /></a>
     <div class="flex-caption">
	 <span>We take care of your teeth</span>
    </div>
    </li>

     <li>
      <a href="#"><img src="{% static "images/home/slider-2.jpg" %}" alt="" /></a>
     <div class="flex-caption">
	 <span>Quality dental treatment performed by a team of experts</span>
     </div>
    </li>

      <li>
      <a href="#"><img src="{% static "images/home/slider-3.jpg" %}" alt="" /></a>
     <div class="flex-caption">
	 <span>Best solution for beautiful and healthy teeth</span>
     </div>
    </li>
</ul>

</div><!--end flexslider-->
</div><!--end wrap-->

<div class="wrap">
<div class="container">
<div class="row">

<div class="col-md-3 home-feature-2">
<p class="img-feature"><img src="{% static "images/home/feature-4.png" %}" alt=""/></p>
<h2>Cavity Therapy</h2>
<p>The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.</p>
</div><!--end home-feature-->

<div class="col-md-3 home-feature-2">
<p class="img-feature"><img src="{% static "images/home/feature-5.png" %}" alt=""/></p>
<h2>Cosmetic Dentistry</h2>
<p>The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.</p>
</div><!--end home-feature-->

<div class="col-md-3 home-feature-2">
<p class="img-feature"><img src="{% static "images/home/feature-6.png" %}" alt=""/></p>
<h2>Dental Implants</h2>
<p>The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.</p>
</div><!--end home-feature-->

<div class="col-md-3 home-feature-2">
<p class="img-feature"><img src="{% static "images/home/feature-7.png" %}" alt=""/></p>
<h2>Oral Surgery</h2>
<p>The most efficient whitening technique - your teeth will be whiter by up to 14 shades. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in sem tortor, ac sagittis est.</p>
</div><!--end home-feature-->

</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

<div class="wrap  margin-block">
<div class="container home-apoint">
<div class="row">
<div class="col-md-9 home-apoint-text">
<h2>Register as a Gold Client and save 15% on Check Ups!</h2>
<p>Fusce a malesuada urna. In pulvinar massa id ligula porta a cursus ante pulvinar.</p>
</div>
<div class="col-md-3 home-apoint-btn">
<a href="#">Tell Me More</a>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->
{% endblock %}