{% extends "base.html" %}
{% block content %}
<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Profile</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Success!</h2>
    <hr>
    <p>Thank you, for signing up. You are logged in as {{ user.email }} </p>
    <p>To create an appointment click 'CreateAppointment' below</p>
    <hr>
    <p>
        <a href="{% url "create_appointment" %}"
           class="btn btn-primary">Create Appointment</a>
    </p>
</div><!--end col-md-12-->
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

{% endblock %}
