{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Contact</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->


<div class="wrap margin-block">
<div class="container">

<div class="row">

<div class="col-md-12 g-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9529.15656021273!2d-6.258395734729008!3d53.338080183094334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sie!4v1488048232528" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
</div><!--end row-->

<div class="row">
<div class="col-md-9">

	<header class="home-title">
<h3>Mail Us</h3>
</header>

<div id="contact-container" class="margin-t clearfix">
<form method="post" id="my-form" action='include/contact-process.php'>

<input type="text" name="author" class="comm-field" placeholder="Name"  value="" size="22" tabindex="1" aria-required='true' />

<input type="text" name="email" class="comm-field" placeholder="Email" value="" size="22" tabindex="2" aria-required='true' />

<input type="text" name="title" class="comm-field" placeholder="Subject" value="" size="22" tabindex="3" aria-required='true' />

      <textarea name="message" id="message2" placeholder="Message" rows="9" tabindex="4"></textarea>

<p class="antispam">Leave this empty: <input type="text" name="url" /></p>

	<li><a class="btn btn-primary" href="/contact_thanks/">Send Message</a></li>

</form>
</div>

<div id="output"></div>

</div><!--end col-md-9-->

<div class="col-md-3">

	<header class="home-title">
<h3>Find Us</h3>
</header>

<div class="margin-t">
<p>In justo risus, fermentum eget egestas eget, elementum vitae tortor. Maecenas lorem mi, interdum id commodo ac, tincidunt vitae magna. Pellentesque quam justo, aliquam non accumsan a, aliquam id dolor.</p>

<div class="sidebar-archive">
<ul>
<li>Address: 14 St. Stephen's Green, Dublin 2, Ireland</li>
<li>Phone: 01-555 5555</li>
<li>Fax: 01-555 5555</li>
<li>Email: contact@dentalclinic.com</li>
</ul>
</div>

</div>



</div><!--end col-md-3-->
</div><!--end row-->


</div><!--end container-->
</div><!--end wrap-->

{% endblock %}