{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Success</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->

<div class="wrap margin-block">
<div class="container">
<div class="row">
<div class="col-md-9">

<div class="container">
<p>Thanks, your message has been received, we'll get back to you soon!</p>
</div>

<div id="output"></div>

</div><!--end col-md-9-->

<div class="col-md-3">

	<header class="home-title">
<h3>Find Us</h3>
</header>

<div class="margin-t">
<p>In justo risus, fermentum eget egestas eget, elementum vitae tortor. Maecenas lorem mi, interdum id commodo ac, tincidunt vitae magna. Pellentesque quam justo, aliquam non accumsan a, aliquam id dolor.</p>

<div class="sidebar-archive">
<ul>
<li>Address: 501 Boulevard, New York City, New York</li>
<li>Phone: 1-800-123-1234</li>
<li>Fax: 1-800-123-1234</li>
<li>Email: contact@dentalclinic.com</li>
</ul>
</div>

</div>



</div><!--end col-md-3-->
</div><!--end row-->


</div><!--end container-->
</div><!--end wrap-->

{% endblock %}
