{% extends "forum/forumbase.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load thread_extras %}

{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
 tinyMCE.init({
   mode: "textareas",
   theme: "modern",
   plugins: "paste",
});
</script>
{% endblock %}

{% block forumtitle %}
<div class="wrap">
<div class="container home-apoint">
<div class="row">
<div class="col-md-12 home-apoint-text">
<h2>Forum</h2>
</div>
</div><!--end row-->
</div><!--end container-->
</div><!--end wrap-->
{% endblock %}


{% block forumcontent %}
<div class="container">
<ol class="breadcrumb pull-left where-am-i">
    <li><a href="javascript:history.back()">Back to Thread</a></li>

    </ol>
</div>
<br/>
<div class="container">
       <div class="col-md-9">
     <form method="post" action="{{ form_action }}">
       {% csrf_token %}
       {{ form|as_bootstrap }}
       <div class="form-group">
         <button type="submit" class="btn btn-primary">{{button_text}}</button>
       </div>
     </form>
   </div>
</div>
{% endblock %}
